{% extends "base.html" %}

{% block content %}

<h2>Workshop Registration</h2>

<div class="card">
<b>Email:</b> {{ email }}
</div>

<form method="POST">

{% csrf_token %}

{% if hospital %}

<div class="card">
<b>Hospital:</b> {{ hospital.hospital_name }}<br>
<b>Hospital ID:</b> {{ hospital.hospital_id }}<br>
<b>District:</b> {{ hospital.district }}
</div>

<input type="hidden" name="hospital" value="{{ hospital.id }}">

{% else %}

<h3>Select Hospital</h3>

<label>District <span style="color:red">*</span></label>

<select id="district" required>

<option value="">Select District</option>

{% for d in districts %}
<option value="{{ d }}">{{ d }}</option>
{% endfor %}

</select>

<label>Hospital <span style="color:red">*</span></label>

<select id="hospital" name="hospital" required>

<option value="">Select Hospital</option>

</select>

<label>Hospital ID</label>

<input type="text" id="hospital_id" readonly>

{% endif %}

<label>Name <span style="color:red">*</span></label>
{{ form.name }}

<label>Designation <span style="color:red">*</span></label>
{{ form.designation }}

<label>Mobile <span style="color:red">*</span></label>
{{ form.mobile }}

<button type="submit">Register</button>

</form>

<script>

const districtDropdown = document.getElementById("district")
const hospitalDropdown = document.getElementById("hospital")

if (districtDropdown){

districtDropdown.addEventListener("change", function(){

    let district = this.value

    fetch(`/api/hospitals/?district=${district}`)
    .then(response => response.json())
    .then(data => {

        hospitalDropdown.innerHTML = '<option value="">Select Hospital</option>'

        data.forEach(function(h){

            let option = document.createElement("option")

            option.value = h.id
            option.text = h.name
            option.dataset.hospitalid = h.hospital_id

            hospitalDropdown.appendChild(option)

        })

    })

})

}

if (hospitalDropdown){

hospitalDropdown.addEventListener("change", function(){

    let hospital_id = this.options[this.selectedIndex].dataset.hospitalid

    document.getElementById("hospital_id").value = hospital_id

})

}

</script>

{% endblock %}